// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

$junken_result_color: #00a6ff;

@font-face {
    font-family: 'riipopkr';
    src: url('fonts/RiiPopkkR.otf');
}

body {
    font-family: 'riipopkr',sans-serif;
    font-size: 20px;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

/* テーブルを2つ並べる */
.dtable {
    display: table;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    width: 0em
}
.dtable_c {
    padding-left: 10px;
    display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
}
th {
    border:2px solid rgb(0, 0, 0);
}

/*累計ジャンケン数　テーブル装飾*/
.all_junken_table {
    width: 320px;
    border-collapse:collapse;
    border-spacing:0px; 
}
.all_junken_exp {
    height: 25px;
    font-size: 25px;
    font-weight: bolder;
}
.all {
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.each {
    height: 30px;
    font-size: 30px;
    font-weight: bolder;
}
tr.all_junken_table_cell:hover{
    background-color: #efefef;
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
}
/*最近のジャンケン結果　テーブル装飾*/
.recently_junken_table {
    border-collapse:collapse;
    border-spacing:0px; 
}
.recently_junken_exp {
    height: 30px;
    font-size: 30px;
    font-weight: bolder;
}
th.upload_date {
    width: 120px;
}
th.title {
    width: 450px;
}
th.result {
    width: 100px;
    background: $junken_result_color;
    // background: #00a6ff;
}
tr.recently_junken_table_cell{
    height: 20px;
}
tr.recently_junken_table_cell:hover{
    background-color: #eaf5f5;
}
/*ジャンケンの手の画像装飾*/
.goo {
    width: 80px;
    height: 80px; 
}
.par {
    width: 80px;
    height: 80px; 
}
.choki {
    width: 60px;
    height: 80px; 
}


/*全体*/
.hidden_box1 {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタン装飾*/
.hidden_box1 label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_box1 label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_box1 input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_box1 .hidden_show1 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box1 input:checked ~ .hidden_show1 {
    padding: 0px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box2 {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタン装飾*/
.hidden_box2 label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_box2 label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_box2 input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_box2 .hidden_show2 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box2 input:checked ~ .hidden_show2 {
    padding: 0px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box3 {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタン装飾*/
.hidden_box3 label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_box3 label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_box3 input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_box3 .hidden_show3 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box3 input:checked ~ .hidden_show3 {
    padding: 0px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box4 {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタン装飾*/
.hidden_box4 label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_box4 label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_box4 input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_box4 .hidden_show4 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box4 input:checked ~ .hidden_show4 {
    padding: 0px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box5 {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタン装飾*/
.hidden_box5 label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_box5 label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_box5 input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_box5 .hidden_show5 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box5 input:checked ~ .hidden_show5 {
    padding: 0px 0;
    height: auto;
    opacity: 1;
}


// /*全体*/
// .hidden_weather_box1 {
//     margin: 1em 0;/*前後の余白*/
//     padding: 0;
// }
// /*ボタン装飾*/
// .hidden_weather_box1 label {
//     padding: 2px;
//     font-weight: bold;
//     border: solid 2px black;
//     cursor :pointer;
//     font-size: 30px;
//     border-radius: 10px 10px 10px 10px;
// }
// /*ボタンホバー時*/
// .hidden_weather_box1 label:hover {
//     background: #efefef;
// }
// /*チェックは見えなくする*/
// .hidden_weather_box1 input {
//     display: none;
// }
// /*中身を非表示にしておく*/
// .hidden_weather_box1 .hidden_weather_show1 {
//     height: 0;
//     padding: 0;
//     overflow: hidden;
//     opacity: 0;
//     transition: 0.8s;
// }
// /*クリックで中身表示*/
// .hidden_weather_box1 input:checked ~ .hidden_weather_show1 {
//     padding: 0px 0;
//     height: auto;
//     opacity: 1;
// }


/*推移グラフ*/
.hidden_transition {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    /* display: table;  ブロックレベル要素をtableと同じように表示にする */
    /* margin-left: auto;
    margin-right: auto;
    width: 20em; */
    text-align: center;
}
/*ボタン装飾*/
.hidden_transition label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_transition label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_transition input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_transition .hidden_transition {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_transition input:checked ~ .hidden_transition {
    padding: 0px;
    height: auto;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    /* width: 1200em; */
}
