$top-img_border_color: #000000;
$li_border_color: #f7f7f7;
$header_border_color: #000000;


.top-img {
    width: 250px;
    height: 100px; 
    // display: table;  /* ブロックレベル要素をtableと同じように表示にする */
    // margin-left: auto;
    // margin-right: auto;
}



.dropdown {
    display: flex;
  }
  
  .menu {
    width: 300px;
    border: 2px solid;
    text-align: center;
  }
  
  .menu-title {
    // height: 50px;
    background: #ffff00;
    color: #000000;
  }
  
  .sub-menu {
    display: none;
    background: #b8f8ff;
    position: relative;
  }
  
  .sub-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
  }
  
  .sub-menu > ul > li > a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menu:hover .sub-menu {
    display: inline-block;
  }