.introduction-item {
  color: #0099FF;
  border-top: 1px solid #0099FF;
  border-bottom: 1px solid #0099FF;
  font-size: 30px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.1em;
  margin-bottom:0.4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.warning {
  color: #FF0000;
  padding-top: 20px;
}

ol.bunbunjunken-order {
  background: #fffcf4;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
  padding: 0.5em 0.5em 0.5em 2em;
}
ol.bunbunjunken-order li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

ul.no-bunbunjunken {
  background: #d5f2fc;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
  padding: 0.5em 0.5em 0.5em 2em;
}
ul.no-bunbunjunken li, ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.site-item {
  font-size: 30px;
}

.search_result {
  height: 200px;
  width: 1300px;
}
.video_view {
  height: 800px;
  width: 800px;
}

div.twitter-account {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.twitter {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
