$exp_background_color: #ffecc7;
$goo_background_color: #1E90FF;
$par_background_color: #ffa500;
$choki_background_color: #ff4500;
$rest_background_color: #cecece;
$recently_junken_table_cell_hover_color: #eaf5f5;


body {
    font-family: 'riipopkr',sans-serif;
    font-size: 20px;
    // display: flex;
    // flex-direction: column;
}

/* 検索ページの題目装飾 */
.search-title {
    color: #ff6d77;
    border-top: 1px solid #ff6d77;
    border-bottom: 1px solid #ff6d77;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.1em;
    margin-bottom:0.4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.search-count {
    padding-top: 20px;
    span.page-num {
        font-size: 20px;
        color: #9d9d9d;
    }
}

.guest-search, .keyword-search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}

.date_junken_table {
    margin: 30px;
    display: table;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    // width: 0em;
}
.date_junken_exp {
    background: $exp_background_color;
}

th {
    border: 2px solid #000000;
}
/*ジャンケンの手の画像装飾*/
.goo {
    width: 80px;
    height: 80px; 
}
.par {
    width: 80px;
    height: 80px; 
}
.choki {
    width: 80px;
    height: 80px; 
}

/*日付ごとのジャンケン結果　テーブル装飾*/
.date_junken_table {
    border-collapse: collapse;
    border-spacing: 0px; 
}
.junken_count {
    width: 60px;
}
.rest_count {
    background: $rest_background_color;
}
.search-thumbnail {
    width: 213px;
}
.search-thumbnail-img {
    width: 213px;
    height: 120px; 
}
.upload_date {
    width: 120px;
}
.title {
    width: 450px;
    font-size: 30px;
}
.goo-result {
    background: $goo_background_color;
    width: 40px;
}
.par-result {
    background: $par_background_color;
    width: 40px;
}
.choki-result {
    background: $choki_background_color;
    width: 40px;
}
.rest {
    background: $rest_background_color;
}
.note {
    width: 300px;
}
.date_junken_table_cell{
    height: 20px;
    &:hover{
        background-color: $recently_junken_table_cell_hover_color;
    }
}

/* キーワード検索フォーム装飾 */
.keyword-form-keyword-page {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #ffe7ce;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* ゲスト検索プルダウンメニュー装飾 */
.guest-form-guest-page {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #cef2ff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
