@import "header";

$table_border_color: #000000;
$junken_result_color: #e4f6ff;
$all_junken_table_cell_hover_color: #efefef;
$recently_junken_table_cell_hover_color: #eaf5f5;
$hidden_box_label_hover: #efefef;
$guest_label_hover: #efefef;
$date_label_hover: #efefef;
$statistics_label_hover: #efefef;
$year_selected_color: #ff6166;
$month_selected_color: #ff6166;
$statistics_selected_hover: #ff6166;
$youtube_color: #FF0000;
$twitter_color: #00acee;

@font-face {
    font-family: 'riipopkr';
    src: url('fonts/RiiPopkkR.otf');
}

body {
    font-family: 'riipopkr',sans-serif;
    font-size: 20px;
    // display: flex;
    // flex-direction: column;
}

a {
    // text-decoration: none;
}


/* 主題のボックスデザイン */
.box18{
    background-color: #f9f7f4;
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0; 
    padding: 0;
}
/* 主題のボックスデザインここまで */

main{
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
}

.main-content{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
}

.Advertisement {
    width: 900px;
    text-align: center;
    // background-color: #888;
    color: #fff;
}

// .main-title {
//     margin-top: 60px;
// }
.main-title {
    color: #ff6d77;
    border-top: 1px solid #ff6d77;
    border-bottom: 1px solid #ff6d77;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.1em;
    margin-bottom:0.4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* テーブルを2つ並べる */
.dtable {
    margin: 30px;
    display: table;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    // width: 0em;
    &_c {
        padding-left: 10px;
        display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

th {
    border:2px solid $table_border_color;
}

/*累計ジャンケン数　テーブル装飾*/
.all_junken_table {
    width: 320px;
    border-collapse:collapse;
    border-spacing:0px; 
}
.all_junken_exp {
    height: 25px;
    font-size: 25px;
    font-weight: bolder;
}
.all {
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.each {
    height: 30px;
    font-size: 30px;
    font-weight: bolder;
}
tr.all_junken_table_cell:hover{
    background-color: $all_junken_table_cell_hover_color;
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
}
/*最近のジャンケン結果　テーブル装飾*/
.recently_junken_table {
    border-collapse:collapse;
    border-spacing:0px; 
}
.recently_junken_exp {
    height: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.thumbnail {
    width: 120px;
}
.thumbnail-img {
    width: 120px;
    height: 67px; 
}
.upload_date {
    width: 120px;
}
.title {
    width: 450px;
}
.result {
    width: 100px;
    background: $junken_result_color;
}
.recently_junken_table_cell{
    height: 20px;
    &:hover{
        background-color: $recently_junken_table_cell_hover_color;
    }
}

/*ジャンケンの手の画像装飾*/
.goo {
    width: 100px;
    height: 100px; 
}
.par {
    width: 100px;
    height: 100px; 
}
.choki {
    width: 100px;
    height: 100px;
}

@for $i from 1 through 5 {
    /*全体*/
    .hidden_box#{$i} {
        margin: 1em 0;/*前後の余白*/
        padding: 0;
    }
    /*ボタン装飾*/
    .hidden_box#{$i} label {
        padding: 2px;
        font-weight: bold;
        border: solid 2px $table_border_color;
        cursor :pointer;
        font-size: 30px;
        border-radius: 10px 10px 10px 10px;
    }
    /*ボタンホバー時*/
    .hidden_box#{$i} label:hover {
        background: $hidden_box_label_hover;
    }
    /*チェックは見えなくする*/
    .hidden_box#{$i} input {
        display: none;
    }
    /*中身を非表示にしておく*/
    .hidden_box#{$i} .hidden_show#{$i} {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }
    /*クリックで中身表示*/
    .hidden_box#{$i} input:checked ~ .hidden_show#{$i} {
        padding: 0px 0;
        height: auto;
        opacity: 1;
    }
}


/* ブンブンじゃんけん天気予報 */
.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #000000;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
}
th.each.weather-date {
    padding-top: 10px;
    font-size: 20px;
}
.weather-win {
    color: #ff0000;
    padding-top: 10px;
}
.weather-lose {
    color: #0004ff;
    padding-top: 10px;
}
.weather-update-note {
    position: absolute;
    right: 0;
    bottom: 0;
}
.weather-update-date {
    font-size: 30px;
}

/*推移グラフ*/
.hidden_transition {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    /* display: table;  ブロックレベル要素をtableと同じように表示にする */
    /* margin-left: auto;
    margin-right: auto;
    width: 20em; */
    text-align: center;
}
/*ボタン装飾*/
.hidden_transition label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.hidden_transition label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.hidden_transition input {
    display: none;
}
/*中身を非表示にしておく*/
.hidden_transition .hidden_transition {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_transition input:checked ~ .hidden_transition {
    padding: 0px;
    height: auto;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    /* width: 1200em; */
}



/*ブンブンじゃんけん検索*/
.keyword-search-title, .guest-search-title, .year-junken{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    // width: 10em;
    text-align: center;
}
.keyword-search-description, .guest-search-description {
    font-size: 15px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    // width: 20em;
    text-align: center;
}

/* ブンブンじゃんけんキーワード検索装飾 */
.keyword-list-one {
    margin-bottom: 10px;
}
/*ボタン装飾*/
.keyword-list-one label{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: 10px;
    margin-right: 10px;
}
/*ボタン装飾*/
.keyword-list-two label{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: 10px;
    margin-right: 10px;
}
/*ボタンホバー時*/
.keyword-list-one label:hover {
    background: $guest_label_hover;
}
.keyword-list-two label:hover {
    background: $guest_label_hover;
}


/* ブンブンじゃんけんゲスト検索装飾 */
.guest-list-one {
    margin-bottom: 10px;
}
/*ボタン装飾*/
.guest-list-one label{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: 10px;
    margin-right: 10px;
}
/*ボタン装飾*/
.guest-list-two label{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: 10px;
    margin-right: 10px;
}
/*ボタンホバー時*/
.guest-list-one label:hover {
    background: $guest_label_hover;
}
.guest-list-two label:hover {
    background: $guest_label_hover;
}

/* ブンブンじゃんけん一覧装飾 */
div.year {
    padding-top: 40px;
}
.year {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    text-align: center;
    font-weight: 900;
}
/*ボタン装飾*/
.year label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    
}
/*ボタンホバー時*/
.year label:hover {
    background: $date_label_hover;
}
/*ボタンホバー時*/
.year label:hover {
    background: $date_label_hover;
}
/* 検索されている年の装飾 */
.year-selected {
    background: $year_selected_color;
}

.month_description {
    // padding-top: 10px;
    // padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    // width: 10em;
    text-align: center;
}
.month-list-one,.month-list-two {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    text-align: center;
}

/*ボタン装飾*/
.month-list-one label{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタン装飾*/
.month-list-two label{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ボタンホバー時*/
.month-list-one label:hover {
    background: $date_label_hover;
}
.month-list-two label:hover {
    background: $date_label_hover;
}
/* 検索されている月の装飾 */
.month-selected {
    background: $month_selected_color;
}


/* キーワード検索フォーム装飾 */
.keyword-form {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #ffe7ce;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cp_iptxt {
	position: relative;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.cp_label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.cp_iptxt input[type='text'] {
	font-size: 24px;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #3a3a3a;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
.keyword-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.guest-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.keyword-btn-square-so-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
}
.guest-btn-square-so-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #527dea;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #3369f2;/*線色*/
}
.btn-square-so-pop:active {
    /*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


/* ゲスト検索プルダウンメニュー装飾 */
.guest-form {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #cef2ff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.guest_iptxt {
	position: relative;
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.guest_label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.guest_iptxt input[type='text'] {
	font-size: 24px;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #3a3a3a;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.guest_ef :focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.date-form {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #3fff4c;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 検索フォームを2つ並べる */
.double-search {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        padding-left: 10px;
        margin: 0 auto;  
        // display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

.double-main-search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}

/* 統計データを2つ並べる */
.double-statistics {
    margin: 0em 0;/*前後の余白*/
    padding: 0px;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    &_left {
        text-align: center;
        padding: 20px;
        margin: 0 auto;  
    }
    &_right {
        text-align: center;
        padding: 20px;
        margin: 0 auto;  
    }
}

.statistics_junken {
    width: 150px;
    height: 120px; 
}
.statistics_junken_pc {
    width: 160px;
    height: 120px; 
}

div.statistics {
    padding-top: 10px;
}
.statistics {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    text-align: center;
    font-weight: 900;
}
/*ボタン装飾*/
.statistics label {
    padding: 2px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    
}
/*ボタンホバー時*/
.statistics label:hover {
    background: $statistics_label_hover;
}
/*ボタンホバー時*/
.statistics label:hover {
    background: $statistics_label_hover;
}
/* 検索されている年の装飾 */
.statistics-selected {
    background: $statistics_selected_hover;
}

/* 日付検索一覧を2つ並べる */
.double-date {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        padding-left: 0px;
        margin: 0 auto;  
        // display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

* {
    margin:0; padding:0;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #FFCC00;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 20px;
}
ul.footer-menu {
    padding-bottom: 30px;
}
ul.footer-menu li {
    display: inline;
}


/*ボタン装飾*/
.twitter-botton {
    padding-top: 20px;
}
label.youtube {
    padding: 2px;
    font-weight: bold;
    border: solid 4px $youtube_color;
    background: $youtube_color;
    color: $youtube_color;
    cursor :pointer;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}
label.twitter {
    padding: 2px;
    font-weight: bold;
    border: solid 4px $twitter_color;
    background: $twitter_color;
    color: $twitter_color;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
.twitter-aicon {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

/*  */
span.year-list-one{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: 10px;
    margin-right: 10px;
}

span.moveup{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    margin: 1em 0;/*前後の余白*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*ボタンホバー時*/
span.year-list-one label:hover {
    background: $date_label_hover;
}
span.moveup label:hover {
    background: $date_label_hover;
}

/* 統計データダウンロード並べる */
.double-statistics {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        padding-left: 10px;
        margin: 0 auto;  
        // display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}
/* 統計データダウンロードフォーム装飾 */
.statistics-form {
    padding-top: 5px;
    padding-bottom: 10px;
    background: #ffe7ce;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* 統計データダウンロードタイトル */
.statistics-search-title {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    // width: 10em;
    text-align: center;
}
/* 統計データダウンロード詳細 */
.statistics-search-description {
    font-size: 15px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    // width: 20em;
    text-align: center;
}

/* 統計データダウンロード(全期間) */
.all-statistics-download {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    // display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    text-align: center;
    &_c {
        text-align: center;
        margin: 0 auto;  
    }
}

/* 統計データダウンロード(年) */
.year-statistics-download {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    -webkit-flex-wrap: wrap;          /* Safari etc. */
    -ms-flex-wrap    : wrap;          /* IE10        */
    flex-wrap : wrap;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        margin: 0 auto;  
        display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

/* 統計データダウンロード(月) */
.month-statistics-download {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    -webkit-flex-wrap: wrap;          /* Safari etc. */
    -ms-flex-wrap    : wrap;          /* IE10        */
    flex-wrap : wrap;
    display: inline-flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        margin: 0 auto;  
        display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

/* 統計データダウンロード(ゲスト) */
.guest-statistics-download {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    // -webkit-flex-wrap: wrap;          /* Safari etc. */
    // -ms-flex-wrap    : wrap;          /* IE10        */
    // flex-wrap : wrap;
    display: flex;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        text-align: center;
        margin: 0 auto;  
        display: table-cell;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}