$table_border_color: #000000;

.watch-title {
    color: #ff6d77;
    border-top: 1px solid #ff6d77;
    border-bottom: 1px solid #ff6d77;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.1em;
    margin-bottom:0.4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

#ytplayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.beforeaftervideo {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.beforevideo {
    text-align : left;
    position: relative;
    right: 90px;
}
.aftervideo {
    text-align : right;
    position: relative;
    left: 90px;
}
.viewvideoinfo {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.viewvideotitle {
    font-size: 30px;
    // float: left;
    // position: relative;
    // left: 90px;
}
// .videospan {
//     margin-top: 0;
//     float: right;
// }
.viewvideodate {
    padding-top: 10px;
    float: right;
    position: relative;
    right: 180px;
}

.watch_table {
    width: 820px;
    border-collapse:collapse;
    border-spacing:0px; 
}

.tags-junken {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
    // display: block;  /* ブロックレベル要素をtableと同じように表示にする */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &_c {
        // text-align: center;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        // margin-left: auto;
        // margin-right: auto;
        // text-align: center;
        display: block;  /* ブロックレベル要素をtd(th)と同じように表示にする */
    }
}

/* 動画再生ページタグ一覧装飾 */
.tags-list {
    padding-top: 20px;
    // padding-bottom: 20px;
    // margin-bottom: 10px;
}
/*ボタン装飾*/
.tags-list label{
    font-weight: bold;
    border: solid 2px #000000;
    cursor :pointer;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}

.comment-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.comment-btn-square-so-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #000000;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #000000;/*線色*/
}

.note {
    width: 300px;
}

/*ジャンケン参加ゲストのボタン装飾*/
.guest-list label{
    font-weight: bold;
    border: solid 2px $table_border_color;
    cursor :pointer;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}